section.block--months
    .content
        .active-bar
            h2 Record Book Date:
                .nav-months
                    a.left
                        span.title-months#title-months september
                        a.right
            .block---rcord-sl
                .slide         
                    .line
                        .week
                            .title--week Date: sept. 4st
                            .week--title
                                span.span-l Homework
                                span.span-r Mark
                            .week--line 1 два три
                            .week--line 1 два три
                            .week--line 1 два три
                            .week--line 1 два три
                            .week--line 1 два три
                            .week--line 1 два три                        
                            .week--line-big T.N.: я не знаю что здесь должно быть                         
                        .week
                            .title--week Date: sept. 4st
                            .week--title
                                span.span-l Homework
                                span.span-r Mark
                            .week--line 1 два три
                            .week--line 1 два три
                            .week--line 1 два три
                            .week--line 1 два три
                            .week--line 1 два три
                            .week--line 1 два три
                            .week--line-big T.N.: я не знаю что здесь должно быть      
                    .line
                        .week
                            .title--week Date: sept. 4st
                            .week--title
                                span.span-l Homework
                                span.span-r Mark
                            .week--line 1 два три
                            .week--line 1 два три
                            .week--line 1 два три
                            .week--line 1 два три
                            .week--line 1 два три
                            .week--line 1 два три                        
                            .week--line-big T.N.: я не знаю что здесь должно быть                         
                        .week
                            .title--week Date: sept. 4st
                            .week--title
                                span.span-l Homework
                                span.span-r Mark
                            .week--line 1 два три
                            .week--line 1 два три
                            .week--line 1 два три
                            .week--line 1 два три
                            .week--line 1 два три
                            .week--line 1 два три
                            .week--line-big T.N.: я не знаю что здесь должно быть

                      
                        
                